.ReactModal__Overlay {
  background-color: transparent !important;
}

.color-form {
  padding-top: 30px;

  &__container {
    margin: 0 auto;
    height: 38px;
    max-width: 300px;
    background-color: white;
    position: relative;
    line-height: 38px;
    border: 1px solid lightgray;
  }

  &__container-text {
    position: absolute;
    left: 10px;
    color: black;
  }

  &__container-dropdown {
    position: absolute;
    display: inline-block;
    right: 0;
  }

  .btn {
    height: 38px;
    width: 38px;
    background-color: transparent;
    border: none;
    border-left: 1px solid lightgrey !important;
    outline: none;
  }

  &__btn-color {
    @extend .btn;

  }

  &__btn-rgb {
    @extend .btn;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 8px;
      bottom: 3px;
      border: 10px solid transparent;
      border-top: 10px solid #b5b3b3;
     }
  }

  &__btn-in {
    width: 15px;
    height: 15px;
    margin-left: 5px;
  }
}

.modal-container {
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  top: 240px !important;
  max-width: 300px;
  margin: 240px auto;
  min-height: 100px !important;

  &:focus {
    outline: none;
  }
}

.modal-list {
  width: 100%;
  background: transparent;
  position: relative;
  background-color: white;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);

  &:focus {
    outline: none;
  }

  &:before {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    z-index: 999;
    right: 10px;
    top: -20px;
  }

  &__container {
    height: 100%;
    max-width: 200px;
    right: 0;
  }
}

.modal-list-color {
  @extend .modal-list;

  width: 200px;

  &:before {
    right: 10px;
  }

  &__container {
    right: 0;
    width: 100%;
    position: relative;
    justify-content: space-between;
    display: flex;
    padding: 10px;
    line-height: 15px;
    text-transform: uppercase;
    background: white;
    -webkit-appearance: none !important;
    border-bottom: 1px solid #efebeb;
  }
}

.modal-list-rgb {
  @extend .modal-list;
  width: 300px;

  &:before {
    right: 48px;
  }

  &__container {
    height: 100%;
    right: 0;
    padding: 10px;
  }

  &__container-colors { 
    padding-top: 10px;
  }

  &__container-buttons {
    justify-content: flex-end;
    display: flex;
  }

  .btn-example {
    border: none;
    margin-right: 5px;
    font-size: 12px;
    height: 25px;
    padding: 0 10px;

    &:focus {
      outline: none;
    }
  }

  &__btn-cancel {
    @extend .btn-example;
    background-color: lightgrey;
  }

  &__btn-ok {
    @extend .btn-example;
    background-color: green;
    color: white;
  }
}

